// colors
$black: #333;
$grey: #ddd;
$white: #fefefe;

$primary: #337ab7;
$secondary: #096;
$dark: #555;
$dark_grey: #888;
$success: #449d44;
$info: #5bc0de;
$warning: #facf7e;
$danger: #d9534f;

// font sizes
$font_lg: 1.2rem;
$font_md: 15px;
$font_sm: 0.9rem;
$font_xs: 0.8rem;

/////////////////////////
// Typgraphy
$h1: (
	size: 2.2rem
	, color: inherit
	, spacing: 1px
	, font-weight: inherit
);
$h2: (
	size: 38px
	, color: inherit
	, spacing: 0px
	, font-weight: 200
);
$h3: (
	size: 1.405rem
	, color: $primary
	, spacing: 0px
	, font-weight: inherit
);
$h4: (
	size: 24px
	, color: inherit
	, spacing: 0px
	, font-weight: inherit
);
$h5: (
	size: 1.0rem
	, color: inherit
	, spacing: 0px
	, font-weight: inherit
);
$h6: (
	size: 0.7rem
	, color: inherit
	, spacing: 0px
	, font-weight: inherit
);

// sizing
$gutter: 0.5rem;
$hover_diff: 5%; // how much something should change by when hovered

$g1: $gutter;
$g2: $gutter * 2;
$g3: $gutter * 3;
$g4: $gutter * 4;

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '-o-', '' {
		#{$prefix}#{$prop}: $val;
	}
}
// @include prefix(box-shadow, 0 3px 3px rgba(0,0,0,0.05)); 