 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }

 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

 body { line-height:1; }

 ol,ul { list-style:none; }

 blockquote,q { quotes:none; }

 blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }

 table { border-collapse:collapse; border-spacing:0; }

 *,*:after,*:before { box-sizing:border-box; -moz-box-sizing:border-box; scroll-behavior:smooth; }

 *::selection,*::-moz-selection { background:#337ab7; color:#fefefe; }

 audio,canvas,progress,video { display:inline-block; vertical-align:baseline; }

 audio:not([controls]) { display:none; height:0; }

 [hidden],template,[template] { display:none; }

 .material-icons { font-family:'Material Icons'; font-weight:normal; font-style:normal; font-size:24px; display:inline-block; line-height:1; text-transform:none; letter-spacing:normal; word-wrap:normal; white-space:nowrap; direction:ltr; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; -moz-osx-font-smoothing:grayscale; font-feature-settings:'liga'; }

 html { font-family:sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; width:100%; height:100%; overflow-x:hidden; }

 body { margin:0; width:100%; height:100%; font-size:15px; line-height:1.5; font-weight:400; font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; background:#fefefe; color:#222; -webkit-font-smoothing:antialiased !important; -moz-osx-font-smoothing:grayscale; text-rendering:optimizeLegibility !important; transition:0.25s margin ease; position:relative; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }

 sub,sup { font-size:0.8em; line-height:0; position:relative; vertical-align:baseline; }

 sup { top:-0.5em; }

 sub { bottom:-0.25em; }

 small { font-size:0.9rem; }

 .text-center { text-align:center; }

 .text-left { text-align:left; }

 .text-right { text-align:right; }

 .text-nowrap { white-space:nowrap; }

 .text-justify { white-space:justify; }

 .text-lowercase,.text-lower { text-transform:lowercase; }

 .text-uppercase,.text-upper { text-transform:uppercase; }

 .text-capitalize { text-transform:capitalize; }

 .text-muted { color:#777; }

 .text-small,.text-sm,small { font-size:0.9rem; }

 .text-large,.text-lg { font-size:1.2rem; }

 .text-white { color:#fff; }

 .text-black { color:#fff; }

 svg:not(:root) { overflow:hidden; }

 img,iframe { max-width:100%; }

 code { font-size:0.9rem; background:#f1f1f1; }

 pre > code { display:block; padding:1rem 1.5rem; white-space:pre; }

 pre { overflow:auto; }

 code,kbd,pre,samp { clear:both; font-family:monospace, monospace; font-size:15px; display:block; padding:6px 12px; }

 a { text-decoration:none; color:#337ab7; }

 a:active,a:hover { outline:0; color:#438ccb; }

 i,em,.em { font-style:italic; }

 b,strong,.strong { font-weight:bold; }

 s,.s,.striketrhough { text-decoration:line-through; }

 u,u,.underline { text-decoration:underline; }

 mark,.mark,.highlight { background:#8a6d3b; }

 kbd,.kbd { padding:2px 4px; font-size:1.4rem; color:#fff; background:#333; border-radius:4px; }

 kbd kbd,.kbd kbd,.kbd .kbd,kbd .kbd { padding:0; font-weight:bold; }

 .noselect { -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; }

 hr { margin-top:20px; margin-bottom:20px; border-width:0; border-top:1px solid #e1e1e1; display:block; clear:both; float:none; }

 h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 { margin:0; }

 h1,.h1 { font-size:2rem; }

 h2,.h2 { font-size:1.8rem; }

 h3,.h3 { font-size:1.6rem; }

 h4,.h4 { font-size:1.4rem; }

 h5,.h5 { font-size:1.2rem; }

 h6,.h6 { font-size:1rem; }

 p { margin-top:0; margin-bottom:14px; }

 ul.list { list-style:disc outside; }

 ol.list { list-style:decimal outside; }

 ol.nolist,ul.nolist { list-style:none; }

 ol.list,ul.list { padding-left:2rem; margin-top:0; }

 .btn,button,input[type="submit"],input[type="button"] { background:#fff; color:#333; border:1px solid #ddd; padding:8px 20px; font-size:16px; cursor:pointer; display:inline-block; text-align:center; box-shadow:none; width:auto; }

 .btn:hover,button:hover,input[type="submit"]:hover,input[type="button"]:hover { background:#e6e6e6; color:#333; border-color:#aaa; }

 .btn.btn-primary,button.btn-primary,input[type="submit"].btn-primary,input[type="button"].btn-primary { color:#fff; background-color:#337ab7; border-color:#2b679b; }

 .btn.btn-primary:hover,button.btn-primary:hover,input[type="submit"].btn-primary:hover,input[type="button"].btn-primary:hover { color:#fff; background-color:#438ccb; border-color:#337ab7; }

 .btn.btn-secondary,button.btn-secondary,input[type="submit"].btn-secondary,input[type="button"].btn-secondary { color:#fff; background-color:#096; border-color:#00754e; }

 .btn.btn-secondary:hover,button.btn-secondary:hover,input[type="submit"].btn-secondary:hover,input[type="button"].btn-secondary:hover { color:#fff; background-color:#00bd7e; border-color:#096; }

 .btn.btn-success,button.btn-success,input[type="submit"].btn-success,input[type="button"].btn-success { color:#fff; background-color:#449d44; border-color:#398439; }

 .btn.btn-success:hover,button.btn-success:hover,input[type="submit"].btn-success:hover,input[type="button"].btn-success:hover { color:#fff; background-color:#51b451; border-color:#449d44; }

 .btn.btn-info,button.btn-info,input[type="submit"].btn-info,input[type="button"].btn-info { color:#fff; background-color:#5bc0de; border-color:#3db5d8; }

 .btn.btn-info:hover,button.btn-info:hover,input[type="submit"].btn-info:hover,input[type="button"].btn-info:hover { color:#fff; background-color:#79cbe4; border-color:#5bc0de; }

 .btn.btn-warning,button.btn-warning,input[type="submit"].btn-warning,input[type="button"].btn-warning { color:#fff; background-color:#f0ad4e; border-color:#ed9e2d; }

 .btn.btn-warning:hover,button.btn-warning:hover,input[type="submit"].btn-warning:hover,input[type="button"].btn-warning:hover { color:#fff; background-color:#f3bc6f; border-color:#f0ad4e; }

 .btn.btn-danger,button.btn-danger,input[type="submit"].btn-danger,input[type="button"].btn-danger { color:#fff; background-color:#d9534f; border-color:#d33632; }

 .btn.btn-danger:hover,button.btn-danger:hover,input[type="submit"].btn-danger:hover,input[type="button"].btn-danger:hover { color:#fff; background-color:#df706c; border-color:#d9534f; }

 .btn.btn-link,button.btn-link,input[type="submit"].btn-link,input[type="button"].btn-link { border-color:transparent; background-color:transparent; box-shadow:none; color:#337ab7; }

 .btn.btn-link:hover,button.btn-link:hover,input[type="submit"].btn-link:hover,input[type="button"].btn-link:hover { color:#2b679b; text-decoration:underline; background-color:transparent; }

 .btn.btn-lg,button.btn-lg,input[type="submit"].btn-lg,input[type="button"].btn-lg { font-size:18px; }

 .btn.btn-sm,button.btn-sm,input[type="submit"].btn-sm,input[type="button"].btn-sm { font-size:12px; padding:6px 10px; }

 .btn.btn-xs,button.btn-xs,input[type="submit"].btn-xs,input[type="button"].btn-xs { font-size:10px; padding:3px 6px; }

 .os-menu { position:relative; display:block; list-style:none; padding:0; }

 .os-menu li { display:inline-block; position:relative; }

 .os-menu li a { display:block; padding:10px 20px; }

 .os-menu li:hover { background:rgba(0, 0, 0, .1); }

 .os-menu li:hover .sub-menu { display:block; }

 .os-menu .sub-menu { display:none; position:absolute; top:100%; left:50%; transform:translate(-50%, 0); width:200px; z-index:100; background:#fff; color:#333; border:1px solid #ddd; }

 .os-menu .sub-menu li { display:block; }

 .os-menu .sub-menu a { color:#333; }

 .pagination { margin:4px 0 8px; }

 .pagination > * { display:inline-block; padding:4px 8px; text-align:center; margin:0 2px; color:#333; background:#ddd; }

 .pagination > *:hover { background:#ccc; color:inherit; }

 .pagination > *.active { background:#337ab7; color:#fff; }

 .pagination .next:hover,.pagination .prev:hover { background:#ccc; color:#333; }

 .tabs { overflow:hidden; }

 .tab_nav { overflow:hidden; border-bottom:2px solid #171a22; }

 .tab_nav a { background:rgba(0, 0, 0, .4); color:#aaa; margin-right:4px; display:inline-block; padding:8px 16px; }

 .tab_nav a:hover { color:#fff; }

 .tab_nav a.active { background:rgba(0, 0, 0, .8); color:#fff; }

 .tab_content { display:none; }

 .tab_content.active { display:block; }

 [tooltip] { position:relative; }

 [tooltip]:hover:before { content:attr(tooltip); position:absolute; border:1px solid #101010; z-index:100; max-width:300px; top:0; left:50%; transform:translate(-50%, -100%); background:#222; color:#fefefe; font-size:12px; padding:6px 16px; }

 [tooltip]:hover:after { content:''; position:absolute; top:0; left:50%; width:10px; height:10px; transform:translate(-50%, -50%) rotate(45deg); background:#222; border:1px solid #101010; border-top:none; border-left:none; }

 .os-search-submit { background:none; border:none; color: inherit; opacity:0.8}

 .os-search-submit:hover { background:none; border:none; color: inherit; opacity:1;}

 .modal { position:fixed; top:0; left:0; right:0; width:100%; height:30%; background:#fefefe; z-index:100; color:#222; padding:20px; }

 .modal .container { position:relative; }

 .modal::before { content:''; position:absolute; top:100%; left:0; right:0; height:1000%; z-index:-1; background:rgba(0, 0, 0, .6); }

 .modal .close { font-size:30px; position:absolute; top:0; right:0; cursor:pointer; opacity:0.8; padding:4px; height:20px; width:20px; }

 .modal .close:before { content:''; transform:translate(-50%, -50%) rotate(45deg); width:100%; height:3px; position:absolute; top:50%; left:50%; background:#222; }

 .modal .close:after { content:''; transform:translate(-50%, -50%) rotate(-45deg); width:100%; height:3px; position:absolute; top:50%; left:50%; background:#222; }

 .modal .close:hover { opacity:1; }

 table,thead,tbody { width:100%; border-spacing:0; border-collapse:collapse; max-width:100%; }

 td { padding:6px; }

 form { display:block; width:100%; }

 form input,form select,form textarea { display:block; width:100%; }

 .formsec { padding:8px 0; }

 .formsec label { display:block; margin-bottom:4px; }

 .formsec label span { color:red; margin:0 4px; }

 input,select,textarea { border:1px solid #ddd; padding:7px 10px; margin:0; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, .1); font-family:inherit; }

 textarea { resize:vertical; }

 .quote,blockquote { border:1px solid #5a5d66; padding:6px; background:rgba(255, 255, 255, .15); }

 input[type="checkbox"],input[type="radio"] { width:auto; display:inline-block; position:relative; top:2px; margin:0 4px; }

 .text-primary { color:#337ab7; }

 .text-primarya:hover,.text-primarya:focus { color:#438ccb; }

 .text-success { color:#449d44; }

 .text-successa:hover,.text-successa:focus { color:#51b451; }

 .text-info { color:#5bc0de; }

 .text-infoa:hover,.text-infoa:focus { color:#79cbe4; }

 .text-warning { color:#f0ad4e; }

 .text-warninga:hover,.text-warninga:focus { color:#f3bc6f; }

 .text-danger { color:#d9534f; }

 .text-dangera:hover,.text-dangera:focus { color:#df706c; }

 .bg-primary { background-color:#337ab7; color:#fefefe; }

 .bg-primary a { color:#fefefe; }

 .bg-primarya:hover,.bg-primarya:focus { background-color:#337ab7; }

 .bg-success { background-color:#449d44; color:#fefefe; }

 .bg-successa:hover,.bg-successa:focus { background-color:#51b451; }

 .bg-info { background-color:#5bc0de; }

 .bg-infoa:hover,.bg-infoa:focus { background-color:#79cbe4; }

 .bg-warning { background-color:#f0ad4e; }

 .bg-warninga:hover,.bg-warninga:focus { background-color:#f3bc6f; }

 .bg-danger { background-color:#d9534f; color:#fefefe; }

 .bg-dangera:hover,.bg-dangera:focus { background-color:#df706c; }

 .bg-dark,.bg-black { background-color:#222; color:#fefefe; }

 .bg-darka,.bg-blacka { color:#fefefe; }

 .bg-darka:hover,.bg-blacka:hover,.bg-darka:focus,.bg-blacka:focus { background-color:#343434; }

 .bg-grey { background-color:#ddd; color:#222; }

 .bg-greya { color:#222; }

 .bg-greya:hover,.bg-greya:focus { background-color:#fff; }

 .bg-light,.bg-white { background-color:#fefefe; color:#222; }

 .bg-lighta,.bg-whitea { color:#222; }

 .bg-lighta:hover,.bg-whitea:hover,.bg-lighta:focus,.bg-whitea:focus { background-color:#efefef; }

 .bg-none { background:none; color:inherit; }

 .pull-right { float:right !important; }

 .pull-left { float:left !important; }

 .pull-none { float:none !important; }

 .relative { position:relative; }

 .absolute { position:absolute; }

 .fixed { z-index:99; position:fixed; top:0; width:100%; }

 .full { width:100% !important; }

 .header_outer,.content_outer,.footer_outer { width:100%; }

 .center { margin-left:auto; margin-right:auto; }

 .full { width:100%; }

 .block { display:block !important; }

 .hide,.hidden { display:none !important; }

 .clear { display:block; clear:both !important; float:none; width:100%; }

 .noclear { clear:none !important; }

 .nopad { padding:0; }

 .nomarg { margin:0; }

 .border,.bord { border:1px solid #ddd; }

 .bordert,.bordt,.bordertb,.bordtb { border-top-width:1px; border-top-style:solid; }

 .borderr,.bordr,.borderlr,.bordlr { border-right-width:1px; border-right-style:solid; }

 .borderb,.bordb,.bordertb,.bordtb { border-bottom-width:1px; border-bottom-style:solid; }

 .borderl,.bordl,.borderlr,.bordlr { border-left-width:1px; border-left-style:solid; }

 .border.dark,.bord.dark { border-color:#777; }

 .margauto { margin:auto; }

 .marg0 { margin:0px; }

 .marg10 { margin:10px; }

 .marg20 { margin:20px; }

 .marg40 { margin:40px; }

 .margt0,.margtb0 { margin-top:0px; }

 .margt10,.margtb10 { margin-top:10px; }

 .margt20,.margtb20 { margin-top:20px; }

 .margt40,.margtb40 { margin-top:40px; }

 .margrauto,.marglrauto { margin-right:auto; }

 .margr0,.marglr0 { margin-right:0px; }

 .margr10,.marglr10 { margin-right:10px; }

 .margr20,.marglr20 { margin-right:20px; }

 .margr40,.marglr40 { margin-right:40px; }

 .margb0,.margtb0 { margin-bottom:0px; }

 .margb10,.margtb10 { margin-bottom:10px; }

 .margb20,.margtb20 { margin-bottom:20px; }

 .margb40,.margtb40 { margin-bottom:40px; }

 .marglauto,.marglrauto { margin-left:auto; }

 .margl0,.marglr0 { margin-left:0px; }

 .margl10,.marglr10 { margin-left:10px; }

 .margl20,.marglr20 { margin-left:20px; }

 .margl40,.marglr40 { margin-left:40px; }

 .pad10 { padding:10px; }

 .pad20 { padding:20px; }

 .pad40 { padding:40px; }

 .padt0,.padtb0 { padding-top:0px; }

 .padt10,.padtb10 { padding-top:10px; }

 .padt20,.padtb20 { padding-top:20px; }

 .padt40,.padtb40 { padding-top:40px; }

 .padr0,.padlr0 { padding-right:0px; }

 .padr10,.padlr10 { padding-right:10px; }

 .padr20,.padlr20 { padding-right:20px; }

 .padr40,.padlr40 { padding-right:40px; }

 .padb0,.padtb0 { padding-bottom:0px; }

 .padb10,.padtb10 { padding-bottom:10px; }

 .padb20,.padtb20 { padding-bottom:20px; }

 .padb40,.padtb40 { padding-bottom:40px; }

 .padl0,.padlr0 { padding-left:0px; }

 .padl10,.padlr10 { padding-left:10px; }

 .padl20,.padlr20 { padding-left:20px; }

 .padl40,.padlr40 { padding-left:40px; }

 .container { max-width:1140px; margin:auto; width:100%; }

 .container.-fluid { max-width:none; }

 .container:after { content:""; display:block; clear:both; }

 .row { display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; }

 .row:after { content:""; display:block; clear:both; }

 .self-start,.self-top { -ms-flex-item-align:start; align-self:flex-start; }

 .self-center,.self-middle { -ms-flex-item-align:center; align-self:center; }

 .self-end,.self-bottom { -ms-flex-item-align:end; align-self:flex-end; }

 .order-first { -webkit-box-ordinal-group:0; -ms-flex-order:-1; order:-1; }

 .order-1 { -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1; }

 .order-2 { -webkit-box-ordinal-group:3; -ms-flex-order:2; order:2; }

 .order-3 { -webkit-box-ordinal-group:4; -ms-flex-order:3; order:3; }

 .order-4 { -webkit-box-ordinal-group:5; -ms-flex-order:4; order:4; }

 .order-5 { -webkit-box-ordinal-group:6; -ms-flex-order:5; order:5; }

 .order-6 { -webkit-box-ordinal-group:7; -ms-flex-order:6; order:6; }

 .order-7 { -webkit-box-ordinal-group:8; -ms-flex-order:7; order:7; }

 .order-8 { -webkit-box-ordinal-group:9; -ms-flex-order:8; order:8; }

 .order-9 { -webkit-box-ordinal-group:10; -ms-flex-order:9; order:9; }

 .order-10 { -webkit-box-ordinal-group:11; -ms-flex-order:10; order:10; }

 .order-11 { -webkit-box-ordinal-group:12; -ms-flex-order:11; order:11; }

 .order-12 { -webkit-box-ordinal-group:13; -ms-flex-order:12; order:12; }

 .order-first { -webkit-box-ordinal-group:14; -ms-flex-order:13; order:13; }

 [class*="visible-"] { display:none; }

 .os { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; width:100%; min-height:20px; }

 .os-1 { max-width:8.3333333333%; -ms-flex:0 0 8.3333333333%; flex:0 0 8.3333333333%; width:100%; min-height:20px; }

 .offset-1 { margin-left:8.3333333333%; }

 .os-2 { max-width:16.6666666667%; -ms-flex:0 0 16.6666666667%; flex:0 0 16.6666666667%; width:100%; min-height:20px; }

 .offset-2 { margin-left:16.6666666667%; }

 .os-3 { max-width:25%; -ms-flex:0 0 25%; flex:0 0 25%; width:100%; min-height:20px; }

 .offset-3 { margin-left:25%; }

 .os-4 { max-width:33.3333333333%; -ms-flex:0 0 33.3333333333%; flex:0 0 33.3333333333%; width:100%; min-height:20px; }

 .offset-4 { margin-left:33.3333333333%; }

 .os-5 { max-width:41.6666666667%; -ms-flex:0 0 41.6666666667%; flex:0 0 41.6666666667%; width:100%; min-height:20px; }

 .offset-5 { margin-left:41.6666666667%; }

 .os-6 { max-width:50%; -ms-flex:0 0 50%; flex:0 0 50%; width:100%; min-height:20px; }

 .offset-6 { margin-left:50%; }

 .os-7 { max-width:58.3333333333%; -ms-flex:0 0 58.3333333333%; flex:0 0 58.3333333333%; width:100%; min-height:20px; }

 .offset-7 { margin-left:58.3333333333%; }

 .os-8 { max-width:66.6666666667%; -ms-flex:0 0 66.6666666667%; flex:0 0 66.6666666667%; width:100%; min-height:20px; }

 .offset-8 { margin-left:66.6666666667%; }

 .os-9 { max-width:75%; -ms-flex:0 0 75%; flex:0 0 75%; width:100%; min-height:20px; }

 .offset-9 { margin-left:75%; }

 .os-10 { max-width:83.3333333333%; -ms-flex:0 0 83.3333333333%; flex:0 0 83.3333333333%; width:100%; min-height:20px; }

 .offset-10 { margin-left:83.3333333333%; }

 .os-11 { max-width:91.6666666667%; -ms-flex:0 0 91.6666666667%; flex:0 0 91.6666666667%; width:100%; min-height:20px; }

 .offset-11 { margin-left:91.6666666667%; }

 .os-12 { max-width:100%; -ms-flex:0 0 100%; flex:0 0 100%; width:100%; min-height:20px; }

 .offset-12 { margin-left:100%; }

 .content-center { -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

 .content-top { -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start; }

 .content-middle { -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

 .content-bottom { -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; }

 .content-space { -ms-flex-pack:distribute; justify-content:space-around; }

 .content-justify { -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

 .hidden { display:none; }

 .visible,.visible-block { display:block; }

 .visible-inline { display:inline; }

 .visible-inline-block { display:inline-block; }

 .visible-none { display:none; }

 @media (min-width:320px) { .os-sm { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; }

 .sm-text-center { text-align:left; }

 .sm-text-center { text-align:center; }

 .sm-text-center { text-align:right; }

 .sm-self-start,.sm-self-top { -ms-flex-item-align:start; align-self:flex-start; }

 .sm-self-center,.sm-self-middle { -ms-flex-item-align:center; align-self:center; }

 .sm-self-end.sm-self-bottom { -ms-flex-item-align:end; align-self:flex-end; }

 .os-sm { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; width:100%; min-height:20px; }

 .os-sm-1 { max-width:8.3333333333%; -ms-flex:0 0 8.3333333333%; flex:0 0 8.3333333333%; width:100%; min-height:20px; }

 .offset-sm-1 { margin-left:8.3333333333%; }

 .os-sm-2 { max-width:16.6666666667%; -ms-flex:0 0 16.6666666667%; flex:0 0 16.6666666667%; width:100%; min-height:20px; }

 .offset-sm-2 { margin-left:16.6666666667%; }

 .os-sm-3 { max-width:25%; -ms-flex:0 0 25%; flex:0 0 25%; width:100%; min-height:20px; }

 .offset-sm-3 { margin-left:25%; }

 .os-sm-4 { max-width:33.3333333333%; -ms-flex:0 0 33.3333333333%; flex:0 0 33.3333333333%; width:100%; min-height:20px; }

 .offset-sm-4 { margin-left:33.3333333333%; }

 .os-sm-5 { max-width:41.6666666667%; -ms-flex:0 0 41.6666666667%; flex:0 0 41.6666666667%; width:100%; min-height:20px; }

 .offset-sm-5 { margin-left:41.6666666667%; }

 .os-sm-6 { max-width:50%; -ms-flex:0 0 50%; flex:0 0 50%; width:100%; min-height:20px; }

 .offset-sm-6 { margin-left:50%; }

 .os-sm-7 { max-width:58.3333333333%; -ms-flex:0 0 58.3333333333%; flex:0 0 58.3333333333%; width:100%; min-height:20px; }

 .offset-sm-7 { margin-left:58.3333333333%; }

 .os-sm-8 { max-width:66.6666666667%; -ms-flex:0 0 66.6666666667%; flex:0 0 66.6666666667%; width:100%; min-height:20px; }

 .offset-sm-8 { margin-left:66.6666666667%; }

 .os-sm-9 { max-width:75%; -ms-flex:0 0 75%; flex:0 0 75%; width:100%; min-height:20px; }

 .offset-sm-9 { margin-left:75%; }

 .os-sm-10 { max-width:83.3333333333%; -ms-flex:0 0 83.3333333333%; flex:0 0 83.3333333333%; width:100%; min-height:20px; }

 .offset-sm-10 { margin-left:83.3333333333%; }

 .os-sm-11 { max-width:91.6666666667%; -ms-flex:0 0 91.6666666667%; flex:0 0 91.6666666667%; width:100%; min-height:20px; }

 .offset-sm-11 { margin-left:91.6666666667%; }

 .os-sm-12 { max-width:100%; -ms-flex:0 0 100%; flex:0 0 100%; width:100%; min-height:20px; }

 .offset-sm-12 { margin-left:100%; }

 .content-sm-center { -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

 .content-sm-top { -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start; }

 .content-sm-middle { -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

 .content-sm-bottom { -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; }

 .content-sm-space { -ms-flex-pack:distribute; justify-content:space-around; }

 .content-sm-justify { -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

 .hidden-sm { display:none; }

 .visible-sm,.visible-sm-block { display:block; }

 .visible-sm-inline { display:inline; }

 .visible-sm-inline-block { display:inline-block; }

 .visible-sm-none { display:none; }

 }

 @media (min-width:720px) { .os-md { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; }

 .md-text-center { text-align:left; }

 .md-text-center { text-align:center; }

 .md-text-center { text-align:right; }

 .md-self-start,.md-self-top { -ms-flex-item-align:start; align-self:flex-start; }

 .md-self-center,.md-self-middle { -ms-flex-item-align:center; align-self:center; }

 .md-self-end.md-self-bottom { -ms-flex-item-align:end; align-self:flex-end; }

 .os-md { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; width:100%; min-height:20px; }

 .os-md-1 { max-width:8.3333333333%; -ms-flex:0 0 8.3333333333%; flex:0 0 8.3333333333%; width:100%; min-height:20px; }

 .offset-md-1 { margin-left:8.3333333333%; }

 .os-md-2 { max-width:16.6666666667%; -ms-flex:0 0 16.6666666667%; flex:0 0 16.6666666667%; width:100%; min-height:20px; }

 .offset-md-2 { margin-left:16.6666666667%; }

 .os-md-3 { max-width:25%; -ms-flex:0 0 25%; flex:0 0 25%; width:100%; min-height:20px; }

 .offset-md-3 { margin-left:25%; }

 .os-md-4 { max-width:33.3333333333%; -ms-flex:0 0 33.3333333333%; flex:0 0 33.3333333333%; width:100%; min-height:20px; }

 .offset-md-4 { margin-left:33.3333333333%; }

 .os-md-5 { max-width:41.6666666667%; -ms-flex:0 0 41.6666666667%; flex:0 0 41.6666666667%; width:100%; min-height:20px; }

 .offset-md-5 { margin-left:41.6666666667%; }

 .os-md-6 { max-width:50%; -ms-flex:0 0 50%; flex:0 0 50%; width:100%; min-height:20px; }

 .offset-md-6 { margin-left:50%; }

 .os-md-7 { max-width:58.3333333333%; -ms-flex:0 0 58.3333333333%; flex:0 0 58.3333333333%; width:100%; min-height:20px; }

 .offset-md-7 { margin-left:58.3333333333%; }

 .os-md-8 { max-width:66.6666666667%; -ms-flex:0 0 66.6666666667%; flex:0 0 66.6666666667%; width:100%; min-height:20px; }

 .offset-md-8 { margin-left:66.6666666667%; }

 .os-md-9 { max-width:75%; -ms-flex:0 0 75%; flex:0 0 75%; width:100%; min-height:20px; }

 .offset-md-9 { margin-left:75%; }

 .os-md-10 { max-width:83.3333333333%; -ms-flex:0 0 83.3333333333%; flex:0 0 83.3333333333%; width:100%; min-height:20px; }

 .offset-md-10 { margin-left:83.3333333333%; }

 .os-md-11 { max-width:91.6666666667%; -ms-flex:0 0 91.6666666667%; flex:0 0 91.6666666667%; width:100%; min-height:20px; }

 .offset-md-11 { margin-left:91.6666666667%; }

 .os-md-12 { max-width:100%; -ms-flex:0 0 100%; flex:0 0 100%; width:100%; min-height:20px; }

 .offset-md-12 { margin-left:100%; }

 .content-md-center { -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

 .content-md-top { -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start; }

 .content-md-middle { -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

 .content-md-bottom { -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; }

 .content-md-space { -ms-flex-pack:distribute; justify-content:space-around; }

 .content-md-justify { -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

 .hidden-md { display:none; }

 .visible-md,.visible-md-block { display:block; }

 .visible-md-inline { display:inline; }

 .visible-md-inline-block { display:inline-block; }

 .visible-md-none { display:none; }

 }

 @media (min-width:1200) { .os-lg { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; }

 .lg-text-center { text-align:left; }

 .lg-text-center { text-align:center; }

 .lg-text-center { text-align:right; }

 .lg-self-start,.lg-self-top { -ms-flex-item-align:start; align-self:flex-start; }

 .lg-self-center,.lg-self-middle { -ms-flex-item-align:center; align-self:center; }

 .lg-self-end.lg-self-bottom { -ms-flex-item-align:end; align-self:flex-end; }

 .os-lg { -ms-flex-preferred-size:0; flex-basis:0; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; max-width:100%; width:100%; min-height:20px; }

 .os-lg-1 { max-width:8.3333333333%; -ms-flex:0 0 8.3333333333%; flex:0 0 8.3333333333%; width:100%; min-height:20px; }

 .offset-lg-1 { margin-left:8.3333333333%; }

 .os-lg-2 { max-width:16.6666666667%; -ms-flex:0 0 16.6666666667%; flex:0 0 16.6666666667%; width:100%; min-height:20px; }

 .offset-lg-2 { margin-left:16.6666666667%; }

 .os-lg-3 { max-width:25%; -ms-flex:0 0 25%; flex:0 0 25%; width:100%; min-height:20px; }

 .offset-lg-3 { margin-left:25%; }

 .os-lg-4 { max-width:33.3333333333%; -ms-flex:0 0 33.3333333333%; flex:0 0 33.3333333333%; width:100%; min-height:20px; }

 .offset-lg-4 { margin-left:33.3333333333%; }

 .os-lg-5 { max-width:41.6666666667%; -ms-flex:0 0 41.6666666667%; flex:0 0 41.6666666667%; width:100%; min-height:20px; }

 .offset-lg-5 { margin-left:41.6666666667%; }

 .os-lg-6 { max-width:50%; -ms-flex:0 0 50%; flex:0 0 50%; width:100%; min-height:20px; }

 .offset-lg-6 { margin-left:50%; }

 .os-lg-7 { max-width:58.3333333333%; -ms-flex:0 0 58.3333333333%; flex:0 0 58.3333333333%; width:100%; min-height:20px; }

 .offset-lg-7 { margin-left:58.3333333333%; }

 .os-lg-8 { max-width:66.6666666667%; -ms-flex:0 0 66.6666666667%; flex:0 0 66.6666666667%; width:100%; min-height:20px; }

 .offset-lg-8 { margin-left:66.6666666667%; }

 .os-lg-9 { max-width:75%; -ms-flex:0 0 75%; flex:0 0 75%; width:100%; min-height:20px; }

 .offset-lg-9 { margin-left:75%; }

 .os-lg-10 { max-width:83.3333333333%; -ms-flex:0 0 83.3333333333%; flex:0 0 83.3333333333%; width:100%; min-height:20px; }

 .offset-lg-10 { margin-left:83.3333333333%; }

 .os-lg-11 { max-width:91.6666666667%; -ms-flex:0 0 91.6666666667%; flex:0 0 91.6666666667%; width:100%; min-height:20px; }

 .offset-lg-11 { margin-left:91.6666666667%; }

 .os-lg-12 { max-width:100%; -ms-flex:0 0 100%; flex:0 0 100%; width:100%; min-height:20px; }

 .offset-lg-12 { margin-left:100%; }

 .content-lg-center { -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

 .content-lg-top { -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start; }

 .content-lg-middle { -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

 .content-lg-bottom { -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; }

 .content-lg-space { -ms-flex-pack:distribute; justify-content:space-around; }

 .content-lg-justify { -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

 .hidden-lg { display:none; }

 .visible-lg,.visible-lg-block { display:block; }

 .visible-lg-inline { display:inline; }

 .visible-lg-inline-block { display:inline-block; }

 .visible-lg-none { display:none; }

 }