/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} body{line-height:1;} ol,ul{list-style:none;} blockquote,q{quotes:none;} blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} table{border-collapse:collapse;border-spacing:0;} *,*:after,*:before {box-sizing: border-box;-moz-box-sizing:border-box;}
*::selection {background: #337ab7; color:#fff}
*::-moz-selection {background: #337ab7; color:#fff;}

/* html5 */
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

/* Main body/html */
html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width:100%; height:100%; overflow-x:hidden;}
body {margin:0; width:100%; height:100%; font-size: 15px; line-height: 1.5; font-weight: 400; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; background:#fff; color: #333;-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility !important; transition: .25s margin ease; position:relative; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* ///////////////////////////////// */
/* Typeography / HTML */
/* ///////////////////////////////// */
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
small { font-size: 80%; }

svg:not(:root) {overflow: hidden;}
img, iframe {max-width:100%;}
code {font-size: 90%; background: #F1F1F1; border: 1px solid #E1E1E1; border-radius: 4px;}
pre > code {display: block; padding: 1rem 1.5rem; white-space: pre;}
pre {overflow: auto;}
code,kbd,pre,samp {clear:both; font-family: monospace, monospace;font-size: 1em; display:block; margin-top:10px; margin-bottom:10px; padding: 6px 12px;}

a {text-decoration:none; color:#069;}
a:active,a:hover {outline: 0; color:#09f;}
i,em,.em {font-style:italic;}
b,strong,.strong {font-weight: bold;}
s, .s, .striketrhough {text-decoration:line-through;}
u, u, .underline {text-decoration:underline;}
mark, .mark, .highlight {background:#8a6d3b}
kbd,.kbd {padding:2px 4px; font-size:1.4rem; color:#fff; background:#333; border-radius: 4px;}
kbd kbd, .kbd kbd, .kbd .kbd, kbd .kbd {padding:0; font-weight:bold;}

.noselect {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}

hr {margin-top: 20px; margin-bottom: 20px;border-width: 0;border-top: 1px solid #E1E1E1; display:block; clear:both; float:none;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {margin:0; font-weight: 300;}
h1, .h1 { font-size: 41px; }
h2, .h2 { font-size: 36px; }
h3, .h3 { font-size: 31px; }
h4, .h4 { font-size: 26px; }
h5, .h5 { font-size: 21px; }
h6, .h6 { font-size: 16px; }

p {margin-top: 0; margin-bottom:14px;}

ul.list {list-style: disc outside;}
ol.list {list-style: decimal outside;}
ol.nolist, ul.nolist {list-style:none;}
ol.list, ul.list {padding-left: 2rem; margin-top: 0;}

/* ///////////////////////////////// */
/* Forms & Input */
/* ///////////////////////////////// */
form {display:block; width: 100%;}
.formsec {padding: 8px 0;}
.formsec label {display:block; margin-bottom:4px;}
.formsec label span {color:red; margin: 0 4px;}
form input, form select, form textarea {display:block; width: 100%;}
input, select, textarea {border:1px solid #ddd; padding: 7px 10px; margin:0; box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); font-family:inherit; }
textarea {resize: vertical;}

input[type="checkbox"], input[type="radio"] {width: auto; display: inline-block; position:relative; top: 2px; margin: 0 4px;}

/* Buttons */
.btn, button, input[type="submit"], input[type="button"] {background: #fff; color:#333; border-radius: 4px; border:1px solid #ddd; padding: 8px 20px; font-size:16px; cursor:pointer; display:inline-block; text-align:center; margin-bottom:10px; box-shadow:none; width:auto;}
.btn:hover, button:hover, input[type="submit"]:hover {background:#e6e6e6; color:#333; border-color:#aaa;}
body .btn-primary {color: #fff; background-color: #337ab7; border-color: #2e6da4;}
body .btn-primary:hover {color: #fff; background-color: #286090; border-color: #204d74;}
body .btn-success {color: #fff; background-color: #5cb85c; border-color: #4cae4c;}
body .btn-success:hover {color: #fff; background-color: #449d44; border-color: #398439;}
body .btn-info {color: #fff; background-color: #5bc0de; border-color: #46b8da;}
body .btn-info:hover {color: #fff; background-color: #31b0d5; border-color: #269abc;}
body .btn-warning {color: #fff; background-color: #f0ad4e; border-color: #eea236;}
body .btn-warning:hover {color: #fff; background-color: #ec971f; border-color: #d58512;}
body .btn-danger {color: #fff; background-color: #d9534f; border-color: #d43f3a;}
body .btn-danger:hover {color: #fff; background-color: #d9534f; border-color: #d43f3a;}
body .btn-link {border-color:transparent; background-color:transparent; box-shadow:none; color:##337ab7;}
body .btn-link:hover {color: #23527c; text-decoration: underline; background-color: transparent;}
body .btn-lg {font-size:18px;}
body .btn-sm {font-size:12px; padding: 6px 10px;}
body .btn-xs {font-size:10px; padding: 3px 6px;}

/* ///////////////////////////////// */
/* Content */
/* ///////////////////////////////// */
.quote, blockquote {border:1px solid #5A5D66}
blockquote {padding:6px; background:rgba(255,255,255,.15);}
.quote, .quote .quote .quote {background:rgba(255,255,255,.15);}
.quote .quote, .quote .quote .quote .quote {background:rgba(0,0,0,.15);}
.quote_head {background:rgba(0,0,0,.2); border-bottom:1px solid #5A5D66;}
table:not(.quote) tbody tr:nth-child(odd) {background:rgba(255,255,255,.1)}


/* Navigation */
.nav {position:relative; display:block; list-style:none; padding:0;}
.nav > li {display:inline-block; margin: 0 6px; position:relative;}
.nav a {display:block; padding: 6px 10px; border-radius:4px;}
.nav li:hover > a {background:rgba(0,0,0,.1);}
.nav a.active:hover {background:rgba(0,0,0,.2);}
.nav .dropdown {display:none; position:absolute; top:100%; left:50%; transform: translate(-50%, 0); width: 200px; z-index:100; background:#fff; border:1px solid #ddd; color:#333; list-style:none; padding:0; margin:0; border-top:0;}
.nav .dropdown a {color:#333; border-radius:0;}
.nav .dropdown li:last-child {margin-bottom:0;}
.nav li:hover .dropdown {display:block;}

/* Helpers */
.clear {display:block; clear:both !important; float:none;}
.noclear {clear:none !important;}
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right {text-align:right;}
.text-nowrap {white-space: nowrap;}
.text-justify {white-space: justify;}
.text-lowercase, .text-lower {text-transform: lowercase;}
.text-uppercase, .text-upper {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
.text-muted {color: #777;}
.text-primary {color: #337ab7;}
.text-small, .text-sm, small {font-size:10px;}
.text-large, .text-lgm large {font-size:20px;}
.text-white {color:#fff;}
.text-black {color:#fff;}
a.text-primary:hover, a.text-primary:focus {color: #286090;}
.text-success {color: #3c763d;}
a.text-success:hover, a.text-success:focus {color: #2b542c;}
.text-info {color: #31708f;}
a.text-info:hover, a.text-info:focus {color: #245269;}
.text-warning {color: #8a6d3b;}
a.text-warning:hover, a.text-warning:focus {color: #66512c;}
.text-danger {color: #a94442;}
a.text-danger:hover, a.text-danger:focus {color: #843534;}

.bg-primary {color: #fff; background-color: #337ab7;}
.bg-primary a {color:#fff;}
a.bg-primary:hover, a.bg-primary:focus {background-color: #286090;}
.bg-dark {color: #fff; background-color: #333;}
.bg-dark a {color:#fff;}.bg-white {color:#333; background-color: #fff;}
a.bg-dark:hover, a.bg-dark:focus {background-color: #333;}
.bg-success {background-color: #dff0d8;}
a.bg-success:hover, a.bg-success:focus {background-color: #c1e2b3;}
.bg-info {background-color: #d9edf7;}
a.bg-info:hover, a.bg-info:focus {background-color: #afd9ee;}
.bg-warning {background-color: #fcf8e3;}
a.bg-warning:hover, a.bg-warning:focus {background-color: #f7ecb5;}
.bg-danger {background-color: #f2dede;}
a.bg-danger:hover, a.bg-danger:focus {background-color: #e4b9b9;}
.bg-gray {background-color: #efefef;}
.bg-white {background: #fff; color:#222;}
.bg-black {background: #000; color:#eee;}

.bg-none {background:none; color:inherit;}

.pull-right {float:right !important;}
.pull-left {float:left !important;}
.pull-none {float:none !important;}
.clear-right {clear:right !important;}
.clear-left {clear:left!important;}
.relative {position:relative;}
.absolute {position:absolute;}
.full {width:100% !important;}
.header_outer, .content_outer, .footer_outer {width: 100%;}

.margin10 {margin:10px;}
.margin20 {margin:20px;}
.nomarg {margin:0 !important;}
.nomargbot {margin-bottom:0 !important;}
.nomargtop {margin-top:0 !important;}
.nomargright {margin-top:0 !important;}
.nomargleft {margin-top:0 !important;}

.center {margin-left:auto; margin-right:auto;}
.full {width: 100%;}
.block {display:block !important;}
.hide, .hidden {display:none !important;}

/* Fixed bars */
.fixed {z-index:99;}
.fixed.floating {position:fixed !important; width:100%;}
.fixed.absolute.floating {position:absolute !important; width:100%;}

/* Pagination */
.pagination {margin: 4px 0 8px;}
.pagination > * {display:inline-block; padding: 4px 8px; text-align:center; border-radius:2px; margin: 0 2px; color:#333; background: #ddd;}
.pagination > *:hover {background:#ccc; color:#fff;}
.pagination > *.active {background:#337ab7; color:#fff;}
.pagination .next, .pagination .prev {}
.pagination .next:hover, .pagination .prev:hover {background:#ddd; color:#333;}

/* Layout */
.header_outer {position:relative; z-index:3;}
.card {margin-top: 1rem; margin-bottom:1rem; background:#fff; color:#333; border-radius: 4px;}

/* Tabs */
.tabs {overflow:hidden;}
.tab_nav {overflow:hidden; border-bottom:2px solid #171A22;}
.tab_nav a {background:rgba(0,0,0,.4); color:#aaa; margin-right: 4px; display:inline-block; padding: 8px 16px; }
.tab_nav a:hover {color:#fff; }
.tab_nav a.active {background:rgba(0,0,0,.8); color:#fff; }
.tab_content {display:none;}
.tab_content.active {display:block;}

/* Tooltips */
.tooltip {position:absolute; top:0; left:0; background:#1D232A; border:1px solid #333846; display:block; box-shadow: 0 0 18px rgba(0,0,0,.3); z-index:100; color:#eee; max-width:300px;}
.tooltip .tooltip_body {position:relative; padding:6px 16px; }
.tooltip .tooltip_body:before {content: ''; position:absolute; bottom: -11px; left: 50%; margin-left: -10px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #444958;}
.tooltip .tooltip_body:after {content: ''; position:absolute; bottom: -10px; left: 50%; margin-left: -10px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #1D232A;}

/* Modal */
.modaloverlay {position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%;background:rgba(0,0,0,.6); z-index:10000;}
.modal {position:absolute; top:50%; left:50%; width:800px; margin-left:-400px; box-shadow: 0 0 15px rgba(0,0,0,.5); border-radius: 6px 6px 0 0; }
.modalheader {background:#333; padding:20px; border-radius: 6px 6px 0 0; position:relative;}
.modalheader .modalclose {display:block; position:absolute; padding:4px; top: 14px; right:20px; color:#fff; font-size:20px; font-weight:600; font-family: "Open Sans"; cursor:pointer;}
.modalheader .modalclose:hover {color:#ddd;}
.modalheader .modaltitle {color:#fff; font-weight:300; font-family:'Open Sans'; font-size:18px;}
.modalbody {padding:20px; background:#fff; overflow-y:auto; color:#333;}
.modalbody input[type="text"], .modalbody input[type="password"], .modalbody input[type="email"], .modalbody select, .modalbody textarea, .modalbody .teditor {background:#fff; border:1px solid #ddd; color:#333;}

/* Tables */
table, thead, tbody {width: 100%; border-spacing: 0; border-collapse: collapse; max-width:100%;}
td {padding:6px}
table:not(.quote) tbody tr:nth-child(odd) {background:rgba(255,255,255,.1)}
table.mini {width:auto;}
table small {margin-left:10px;}
small {font-size:0.8em;}

/* Grid */
.container {width: 95%; max-width: 1040px; margin: auto; padding: 0;}
.container .container {padding:0; max-width: none; width:auto;}
.row, .container {clear:both;}
.row:after, .container:after {content: ""; display:block; height:0; clear:both;}
[class*="os-"] {display: block; float: left; width: 100%; min-height: 20px;}
.noclear {clear:none !important;}

.flex-center {display: flex; align-items: center; justify-content: center;}

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }

.os-1 {width: 8.33%;}
.os-2 {width: 16.66%;}
.os-3 {width: 25%;}
.os-4 {width: 33.33%;}
.os-5 {width: 41.66%;}
.os-6 {width: 50%;}
.os-7 {width: 58.33%;}
.os-8 {width: 66.66%;}
.os-9 {width: 75%;}
.os-10 {width: 83.33%;}
.os-11 {width: 91.66%;}
.os-12 {width: 100%;}

.offset-0 {margin-left:0;}
.offset-1 {margin-left:8.33%;}
.offset-2 {margin-left:16.66%;}
.offset-3 {margin-left:25%;}
.offset-4 {margin-left:33.33%;}
.offset-5 {margin-left:41.66%;}
.offset-6 {margin-left:50%;}
.offset-7 {margin-left:58.33%;}
.offset-8 {margin-left:66.66%;}
.offset-9 {margin-left:75%;}
.offset-10 {margin-left:83.33%;}
.offset-11 {margin-left:91.66%;}

/* More helpers */
.nobord, .noborder {border:none !important;}.nobordtop, .nobordertop {border-top:none;}.nobordbottom, .noborderbottom {border-bottom:none;}
.border {border:1px solid #ddd;}
.rounded {border-radius:4px;}.shadow {box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);}.noshadow {box-shadow:none;}

.padding40, .pad40 {padding:40px;}
.padding20, .pad20 {padding:20px;}
.padding10, .pad10 {padding:10px;}
.padding5, .pad5 {padding:5px;}
.nopad, .nopadding {padding:0 !important;}
.nopadtop {padding-top:0 !important;}
.nopadbot {padding-bottom:0 !important;}
.nopadleft {padding-left:0 !important;}
.nopadright {padding-right:0 !important;}
.nopadlr, .nopadrl {padding-left: 0 !important; padding-right: 0 !important; }
.nopadtb, .nopadbt {padding-top:0 !important; padding-bottom: 0 !important; }

/* Extra Small */
@media screen and (min-width : 0px) {
	.os-xs-1 {width: 8.33%;}
	.os-xs-2 {width: 16.66%;}
	.os-xs-3 {width: 25%;}
	.os-xs-4 {width: 33.33%;}
	.os-xs-5 {width: 41.66%;}
	.os-xs-6 {width: 50%;}
	.os-xs-7 {width: 58.33%;}
	.os-xs-8 {width: 66.66%;}
	.os-xs-9 {width: 75%;}
	.os-xs-10 {width: 83.33%;}
	.os-xs-11 {width: 91.66%;}
	.os-xs-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.visible-xs-block, .visible-xs {display:block;}
	.visible-xs-inline {display:inline;}
	.visible-xs-inline-block {display:inline-block;}
	
	.offset-xs-0 {margin-left:0;}
	.offset-xs-1 {margin-left:8.33%;}
	.offset-xs-2 {margin-left:16.66%;}
	.offset-xs-3 {margin-left:25%;}
	.offset-xs-4 {margin-left:33.33%;}
	.offset-xs-5 {margin-left:41.66%;}
	.offset-xs-6 {margin-left:50%;}
	.offset-xs-7 {margin-left:58.33%;}
	.offset-xs-8 {margin-left:66.66%;}
	.offset-xs-9 {margin-left:75%;}
	.offset-xs-10 {margin-left:83.33%;}
	.offset-xs-11 {margin-left:91.66%;}
	
	.card {padding: 2rem 3rem; }	
	.card > hr {margin-left: -3rem; margin-right: -3rem;}
}
/* Extra Small Max */
@media screen and (min-width : 0px) and (max-width : 475px) {
	.hidden-xs, .hide-xs {display:none !important;}
	.show-xs, .visible-xs {display:block;}
	
	.xs-text-center {text-align:center;}
	.xs-text-right {text-align:right;}
	.xs-text-left {text-align:left;}
}

/* Small */
@media screen and (min-width : 476px) {
	.os-sm-1 {width: 8.33%;}
	.os-sm-2 {width: 16.66%;}
	.os-sm-3 {width: 25%;}
	.os-sm-4 {width: 33.33%;}
	.os-sm-5 {width: 41.66%;}
	.os-sm-6 {width: 50%;}
	.os-sm-7 {width: 58.33%;}
	.os-sm-8 {width: 66.66%;}
	.os-sm-9 {width: 75%;}
	.os-sm-10 {width: 83.33%;}
	.os-sm-11 {width: 91.66%;}
	.os-sm-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.visible-sm-block, .visible-sm {display:block;}
	.visible-sm-inline {display:inline;}
	.visible-sm-inline-block {display:inline-block;}
	
	.offset-sm-0 {margin-left:0;}
	.offset-sm-1 {margin-left:8.33%;}
	.offset-sm-2 {margin-left:16.66%;}
	.offset-sm-3 {margin-left:25%;}
	.offset-sm-4 {margin-left:33.33%;}
	.offset-sm-5 {margin-left:41.66%;}
	.offset-sm-6 {margin-left:50%;}
	.offset-sm-7 {margin-left:58.33%;}
	.offset-sm-8 {margin-left:66.66%;}
	.offset-sm-9 {margin-left:75%;}
	.offset-sm-10 {margin-left:83.33%;}
	.offset-sm-11 {margin-left:91.66%;}
	
	.card {padding: 3rem 5rem; }	
	.card > hr {margin-left: -5rem; margin-right: -5rem;}
}
/* Small Max */
@media screen and (min-width : 476px) and (max-width : 767px) {
	.hidden-sm, .hide-sm {display:none !important;}
	.show-sm, .visible-sm {display:block;}
	
	.sm-text-center {text-align:center;}
	.sm-text-right {text-align:right;}
	.sm-text-left {text-align:left;}
}

/* Medium */
@media screen and (min-width : 768px) {
	.os-md-1 {width: 8.33%;}
	.os-md-2 {width: 16.66%;}
	.os-md-3 {width: 25%;}
	.os-md-4 {width: 33.33%;}
	.os-md-5 {width: 41.66%;}
	.os-md-6 {width: 50%;}
	.os-md-7 {width: 58.33%;}
	.os-md-8 {width: 66.66%;}
	.os-md-9 {width: 75%;}
	.os-md-10 {width: 83.33%;}
	.os-md-11 {width: 91.66%;}
	.os-md-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.visible-md-block, .visible-md {display:block;}
	.visible-md-inline {display:inline;}
	.visible-md-inline-block {display:inline-block;}
	
	.offset-md-0 {margin-left:0;}
	.offset-md-1 {margin-left:8.33%;}
	.offset-md-2 {margin-left:16.66%;}
	.offset-md-3 {margin-left:25%;}
	.offset-md-4 {margin-left:33.33%;}
	.offset-md-5 {margin-left:41.66%;}
	.offset-md-6 {margin-left:50%;}
	.offset-md-7 {margin-left:58.33%;}
	.offset-md-8 {margin-left:66.66%;}
	.offset-md-9 {margin-left:75%;}
	.offset-md-10 {margin-left:83.33%;}
	.offset-md-11 {margin-left:91.66%;}
	
	.card {padding: 4rem 7rem; }
	.card > hr {margin-left: -7rem; margin-right: -7rem;}
}
/* Medium Max */
@media screen and (min-width : 768px) and (max-width : 991px) {
	.hidden-md, .hide-md {display:none !important;}
	.show-md, .visible-md {display:block;}
	
	.md-text-center {text-align:center;}
	.md-text-right {text-align:right;}
	.md-text-left {text-align:left;}
	
	.os_menu_toggle {display:none;}
}

/* Large */
@media screen and (min-width : 1000px) {
	.os-lg-1 {width: 8.33%;}
	.os-lg-2 {width: 16.66%;}
	.os-lg-3 {width: 25%;}
	.os-lg-4 {width: 33.33%;}
	.os-lg-5 {width: 41.66%;}
	.os-lg-6 {width: 50%;}
	.os-lg-7 {width: 58.33%;}
	.os-lg-8 {width: 66.66%;}
	.os-lg-9 {width: 75%;}
	.os-lg-10 {width: 83.33%;}
	.os-lg-11 {width: 91.66%;}
	.os-lg-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.hidden-lg, .hide-lg {display:none !important;}
	.visible-lg-block, .visible-lg {display:block;}
	.visible-lg-inline {display:inline;}
	.visible-lg-inline-block {display:inline-block;}
	
	.offset-lg-0 {margin-left:0;}
	.offset-lg-1 {margin-left:8.33%;}
	.offset-lg-2 {margin-left:16.66%;}
	.offset-lg-3 {margin-left:25%;}
	.offset-lg-4 {margin-left:33.33%;}
	.offset-lg-5 {margin-left:41.66%;}
	.offset-lg-6 {margin-left:50%;}
	.offset-lg-7 {margin-left:58.33%;}
	.offset-lg-8 {margin-left:66.66%;}
	.offset-lg-9 {margin-left:75%;}
	.offset-lg-10 {margin-left:83.33%;}
	.offset-lg-11 {margin-left:91.66%;}
	.card {padding: 6rem 8rem; }
	.card > hr {margin-left: -8rem; margin-right: -8rem;}
	
	.lg-text-center {text-align:center;}
	.lg-text-right {text-align:right;}
	.lg-text-left {text-align:left;}

	.os_menu_toggle {display:none;}
}